openapi: '3.0.2'
info:
  title: RESTful EPP
  version: '1.0'
servers:
  - url: http://localhost:8080/repp/v1/

paths:
# common
  /:
    parameters:
      - $ref: "#/components/parameters/p_acceptLanguage"
    get:
      summary: Hello
      tags:
        - common
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'          

  /messages:
    get:
      summary: Poll request
      tags:
        - common
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      parameters:
        - $ref: '#/components/parameters/p_cltrid'
        - $ref: '#/components/parameters/p_svcs'
        - $ref: '#/components/parameters/p_svcs-ext'
        - $ref: '#/components/parameters/p_acceptLanguage'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

  /messages/{id}:
    head:
      summary: Poll ack
      tags:
        - common
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      parameters:
        - $ref: '#/components/parameters/p_id'
        - $ref: '#/components/parameters/p_cltrid'
        - $ref: '#/components/parameters/p_svcs'
        - $ref: '#/components/parameters/p_svcs-ext'
        - $ref: '#/components/parameters/p_acceptLanguage'
      responses:
          '200':
            $ref: '#/components/responses/200okCheckNoBody'
          '224':
            $ref: '#/components/responses/422ErrorNoBody'

 # domains
  /domains/{id}:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    head:
      summary: Domain check
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okCheckNoBody'
          '422':
            $ref: '#/components/responses/422ErrorNoBody'

    get:
      summary: Domain info
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      parameters:
        - $ref: '#/components/parameters/p_authinfo'
        - $ref: '#/components/parameters/p_roid'
        - $ref: '#/components/parameters/p_filter_name'
        - $ref: '#/components/parameters/p_filter_val'
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: val
          in: query
          required: false
          schema:
            type: string
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '422':
            $ref: '#/components/responses/422ErrorBody'

    delete:
      summary: Domain delete
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'    
          '224':
            $ref: '#/components/responses/422ErrorBody'

    patch:
      summary: Domain update
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
                  
  /domains:
    parameters:
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    post:
      summary: Domain create
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

  /domains/{id}/renewals:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
     - $ref: '#/components/parameters/p_renewal_unit'
     - $ref: '#/components/parameters/p_renewal_value'
     - $ref: '#/components/parameters/p_renewal_current_date'
    post:
      summary: Domain renew
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

  /domains/{id}/transfers:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
     - $ref: '#/components/parameters/p_acceptLanguage'
     - $ref: '#/components/parameters/p_authinfo'
     - $ref: '#/components/parameters/p_roid'
     - $ref: '#/components/parameters/p_renewal_unit'
     - $ref: '#/components/parameters/p_renewal_value'
    post:
      summary: Domain transfer request
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
                
  /domains/{id}/transfers/latest:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    get:
      summary: Domain transfer query
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      parameters:
        - $ref: '#/components/parameters/p_authinfo'
        - $ref: '#/components/parameters/p_roid'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
   
    delete:
      summary: Domain transfer cancel
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
            
    put:
      summary: Domain transfer approve
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

 # hosts
  /hosts/{id}:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    head:
      summary: Host check
      tags:
        - hosts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okCheckNoBody'
          '224':
            $ref: '#/components/responses/422ErrorNoBody'

    get:
      summary: Host info
      tags:
        - hosts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      parameters:
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: val
          in: query
          required: false
          schema:
            type: string
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

    delete:
      summary: Host delete
      tags:
        - hosts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

    patch:
      summary: Host update
      tags:
        - hosts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/defaultRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
          
  /hosts:
    parameters:
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    post:
      summary: Host create
      tags:
        - hosts
      requestBody:
        $ref: '#/components/requestBodies/defaultRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

 # contacts
  /contacts/{id}:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    head:
      summary: Contact check
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okCheckNoBody'
          '224':
            $ref: '#/components/responses/422ErrorNoBody'

    get:
      summary: Contact info
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      parameters:
        - $ref: '#/components/parameters/p_authinfo'
        - $ref: '#/components/parameters/p_roid'
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: val
          in: query
          required: false
          schema:
            type: string
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

    delete:
      summary: Contact delete
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'    
          '224':
            $ref: '#/components/responses/422ErrorBody'

    patch:
      summary: Contact update
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
                  

  /contacts:
    parameters:
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
    post:
      summary: Contact create
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'

  /contacts/{id}/transfers:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
     - $ref: '#/components/parameters/p_authinfo'
     - $ref: '#/components/parameters/p_roid'
    post:
      summary: Contact transfer request
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
                
  /contacts/{id}/transfers/latest:
    parameters:
     - $ref: '#/components/parameters/p_id'
     - $ref: '#/components/parameters/p_cltrid'
     - $ref: '#/components/parameters/p_svcs'
     - $ref: '#/components/parameters/p_svcs-ext'
     - $ref: '#/components/parameters/p_acceptLanguage'
     - $ref: '#/components/parameters/p_authinfo'
     - $ref: '#/components/parameters/p_roid'
    get:
      summary: Contact transfer query
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
    
    delete:
      summary: Contact transfer cancel
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
          '200':
            $ref: '#/components/responses/200okWithBody'
          '224':
            $ref: '#/components/responses/422ErrorBody'
            
    put:
      summary: Contact transfer approve
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/defaultOptionalRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/200okWithBody'
        '224':
            $ref: '#/components/responses/422ErrorBody'


#
# Components
#   
components:
  parameters:
    p_id:
      name: id
      description: Object identifier
      in: path
      required: true
      schema:
         type: string
    p_cltrid:
      name: REPP-cltrid
      description: Client transaction identifier
      in: header
      schema:
        type: string
      required: true
    p_svcs:
      name: REPP-svcs
      description: Namespace used
      in: header
      schema:
        type: string
      required: true
    p_svcs-ext:
      name: REPP-svcs-ext
      description: Extension namespace used
      in: header
      schema:
        type: string
      required: false
    p_authinfo:
      name: REPP-authInfo
      description: Object authorization details
      in: header
      schema:
        type: string
      required: false
    p_roid:
      name: REPP-Roid
      description: Object linked to authorization
      in: header
      schema:
        type: string
      required: false
    p_acceptLanguage:
      in: header
      name: Accept-Language
      description: Language used for response
      schema:
        type: string
      required: true
    p_filter_name:
      in: query
      name: filter
      description: Name of attibute to filter on
      schema:
        type: string
      required: false
    p_filter_val:
      in: query
      name: filter
      description: Value to use for filter
      schema:
        type: string
      required: false
    p_renewal_unit:
      in: query
      name: unit
      description: Unit used for renewal value (e.g. y for year)
      schema:
        type: string
      required: false
      example: 'y'
    p_renewal_value:
      in: query
      name: value
      description: Value for renewal 
      schema:
        type: integer
      required: false
      example: 1
    p_renewal_current_date:
      in: query
      name: current-date
      description: Date on which the current validity period ends
      schema:
        type: string
      required: false
      example: '2023-12-01'
    

  headers:
    cltrid:
      description: Client transaction identifier
      schema:
        type: string
      required: false
    svtrid:
      description: Server transaction identifier
      schema:
        type: string
      required: false
    eppcode:
      description: EPP result code
      schema:
        type: integer
      required: false
    queue-size:
      description: Number of messages in the queue
      schema:
        type: integer
      required: false
    check-avail:
      description: Result of object check
      schema:
        type: integer
      required: true
    check-reason:
      description: Explanation why object cannot be provisioned 
      schema:
        type: integer
      required: false
      
  responses:
    200okNoBody:
      description: OK
      headers:
        REPP-cltrid:
          $ref: '#/components/headers/cltrid'
        REPP-svtrid:
          $ref: '#/components/headers/svtrid'
        REPP-eppcode:
          $ref: '#/components/headers/eppcode'
        REPP-Queue-Size:
          $ref: '#/components/headers/queue-size'
    422ErrorNoBody:
      description:  Unprocessable Content
      headers:
        REPP-cltrid:
          $ref: '#/components/headers/cltrid'
        REPP-svtrid:
          $ref: '#/components/headers/svtrid'
        REPP-eppcode:
          $ref: '#/components/headers/eppcode'
    200okCheckNoBody:
      description: OK
      headers:
        REPP-cltrid:
          $ref: '#/components/headers/cltrid'
        REPP-svtrid:
          $ref: '#/components/headers/svtrid'
        REPP-eppcode:
          $ref: '#/components/headers/eppcode'
        REPP-Queue-Size:
          $ref: '#/components/headers/queue-size'
        REPP-Check-Avail:
          $ref: '#/components/headers/check-avail'
        REPP-Check-Reason:
          $ref: '#/components/headers/check-reason'
    200okWithBody:
      description: OK
      content:
        application/epp+xml:
           schema:
             type: string
        application/epp+json:
           schema:
             type: string
      headers:
        REPP-cltrid:
          $ref: '#/components/headers/cltrid'
        REPP-svtrid:
          $ref: '#/components/headers/svtrid'
        REPP-eppcode:
          $ref: '#/components/headers/eppcode'
        REPP-Queue-Size:
          $ref: '#/components/headers/queue-size'
    422ErrorBody:
      description: Unprocessable Content
      content:
        application/epp+xml:
           schema:
             type: string
        application/epp+json:
           schema:
             type: string
      headers:
        REPP-cltrid:
          $ref: '#/components/headers/cltrid'
        REPP-svtrid:
          $ref: '#/components/headers/svtrid'
        REPP-eppcode:
          $ref: '#/components/headers/eppcode'
      
  requestBodies:
    defaultOptionalRequestBody:
      description: Default request body for XML of JSON message
      required: false
      content:
        application/epp+xml:
          schema:
            type: string
        application/epp+json:
          schema:
            type: string
    defaultRequestBody:
      description: Default request body for XML of JSON message
      required: true
      content:
        application/epp+xml:
          schema:
            type: string
        application/epp+json:
          schema:
            type: string
    